<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,16}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>boat-resource1</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{2,4}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{2,4}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>boat-resource2</key>
            <dict>
                <key>frame</key>
                <string>{{56,79},{6,6}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{6,6}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>boat-resource3</key>
            <dict>
                <key>frame</key>
                <string>{{12,54},{10,8}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{10,8}}</string>
                <key>sourceSize</key>
                <string>{24,16}</string>
            </dict>
            <key>crate-left</key>
            <dict>
                <key>frame</key>
                <string>{{49,71},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>crate-right</key>
            <dict>
                <key>frame</key>
                <string>{{12,66},{6,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,7}}</string>
                <key>sourceSize</key>
                <string>{6,7}</string>
            </dict>
            <key>fish1</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{16,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{16,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>fish2</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>fish3</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>gatherer1</key>
            <dict>
                <key>frame</key>
                <string>{{12,76},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>gatherer2</key>
            <dict>
                <key>frame</key>
                <string>{{22,64},{14,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>gatherer3</key>
            <dict>
                <key>frame</key>
                <string>{{38,54},{14,10}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>gatherer4</key>
            <dict>
                <key>frame</key>
                <string>{{22,52},{14,10}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>gears1</key>
            <dict>
                <key>frame</key>
                <string>{{33,82},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{7,5}</string>
            </dict>
            <key>gears2</key>
            <dict>
                <key>frame</key>
                <string>{{47,79},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{7,5}</string>
            </dict>
            <key>gears3</key>
            <dict>
                <key>frame</key>
                <string>{{24,76},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{7,5}</string>
            </dict>
            <key>gears4</key>
            <dict>
                <key>frame</key>
                <string>{{38,75},{7,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{7,5}</string>
            </dict>
            <key>resource1</key>
            <dict>
                <key>frame</key>
                <string>{{12,20},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>resource2</key>
            <dict>
                <key>frame</key>
                <string>{{22,14},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>resource3</key>
            <dict>
                <key>frame</key>
                <string>{{12,38},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>resource4</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>side</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,88}}</string>
                <key>sourceSize</key>
                <string>{8,88}</string>
            </dict>
            <key>sign-closed</key>
            <dict>
                <key>frame</key>
                <string>{{38,66},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>sign-warning</key>
            <dict>
                <key>frame</key>
                <string>{{54,60},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>water1</key>
            <dict>
                <key>frame</key>
                <string>{{40,50},{16,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,2}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water10</key>
            <dict>
                <key>frame</key>
                <string>{{40,44},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water11</key>
            <dict>
                <key>frame</key>
                <string>{{22,42},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water12</key>
            <dict>
                <key>frame</key>
                <string>{{58,38},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water13</key>
            <dict>
                <key>frame</key>
                <string>{{40,38},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water14</key>
            <dict>
                <key>frame</key>
                <string>{{22,36},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water15</key>
            <dict>
                <key>frame</key>
                <string>{{40,32},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water16</key>
            <dict>
                <key>frame</key>
                <string>{{22,48},{16,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,2}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water2</key>
            <dict>
                <key>frame</key>
                <string>{{22,30},{16,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water3</key>
            <dict>
                <key>frame</key>
                <string>{{40,26},{16,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water4</key>
            <dict>
                <key>frame</key>
                <string>{{22,24},{16,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water5</key>
            <dict>
                <key>frame</key>
                <string>{{58,20},{16,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water6</key>
            <dict>
                <key>frame</key>
                <string>{{40,20},{16,4}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water7</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{16,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,2}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water8</key>
            <dict>
                <key>frame</key>
                <string>{{22,48},{16,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{16,2}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>water9</key>
            <dict>
                <key>frame</key>
                <string>{{40,14},{16,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{16,4}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>characters.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c37a69223a218f5d5041dad97577eee:bdc8be1d344cddbde0f503cb97f6a799:eba60a068fff52f8a9384dc2d4a3d4a3$</string>
            <key>textureFileName</key>
            <string>characters.png</string>
        </dict>
    </dict>
</plist>
