<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ba_logo</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>game_logo</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{40,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{40,64}}</string>
                <key>sourceSize</key>
                <string>{48,80}</string>
            </dict>
            <key>gbjam_logo</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logos.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf50be7583ad141565e9f3611b7c9108:c06ef08a33f1b59483b3577bf2b74f2c:31db1315fe35e6806594c8944a0b38e9$</string>
            <key>textureFileName</key>
            <string>logos.png</string>
        </dict>
    </dict>
</plist>
